.menu {
  justify-content: space-between;
  display: flex;
  background-color: black;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
body {
  background-color: rgb(255, 255, 255);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.grid img {
  border: 2px solid black;
  border-radius: 25px;
}
.languages {
  border-radius: 20px;
  background-color: white;
  margin: 20px;

  width: 250px;
  font-family: fantasy;
}
